Package: YelloCake
Version: 1.2.5a
Section: utils
Priority: optional
Architecture: all
Maintainer: CamWuzHere <you@example.com>
Installed-Size: 20
Description: YelloCake shell configuration for a colorful, customized bash experience
